body{
    background-color: darksalmon;
    border: 1px solid black;
    width: 100%;
}
.product-card{
    min-height: 250px ;
    max-width: 250px;
}
h1{
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h2{
    font-size: 12px;
    font-weight: 100;
    margin: 0px;
    padding: 0px;
    border: 1px;
}
h3{
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#imagenP{
    height:  150px;
    width: 150px;
    display: block;
    margin: auto;
}
.botones{
    text-align: center;
}